<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
    <link rel="stylesheet" href="/style/aboutuspage.css">
    <title>Document</title>
</head>
<body>
    <%- include('../components/header.ejs'); %>
    <div class="container title"><p class="text-center">ABOUT US</p></div>
    <div class="container background-title">
        <div class="row row-layout">
            <div class="col-6 forimg">
                <img class="sample-img" src="/images/sample/androidphones-2048px-4861.jpg" alt="call us">
            </div>
            <div class="p-5 col-6 align-self-center">
                <div class="d-flex justify-content-center"><p class="text-center core-value">OUR APPROACH</p></div>
                <div class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, est laboriosam? Reiciendis facilis modi quas porro velit laborum! Repellat asperiores sed eveniet minima adipisci, nobis explicabo dolor excepturi assumenda facilis.</div>
            </div>
        </div>
        <div class="row row-layout">
            <div class="p-5 col-6 align-self-center">
                <div class="d-flex justify-content-center"><p class="text-center core-value">OUR VISION</p></div>
                <div class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, est laboriosam? Reiciendis facilis modi quas porro velit laborum! Repellat asperiores sed eveniet minima adipisci, nobis explicabo dolor excepturi assumenda facilis.</div>
            </div>
            <div class="col-6 forimg">
                <img class="sample-img" src="/images/sample/androidphones-2048px-4861.jpg" alt="call us">
            </div>
        </div>
        <div class="row row-layout">
            <div class="col-6 forimg">
                <img class="sample-img" src="/images/sample/androidphones-2048px-4861.jpg" alt="call us">
            </div>
            <div class="p-5 col-6 align-self-center">
                <div class="d-flex justify-content-center"><p class="text-center core-value">OUR VALUE</p></div>
                <div class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, est laboriosam? Reiciendis facilis modi quas porro velit laborum! Repellat asperiores sed eveniet minima adipisci, nobis explicabo dolor excepturi assumenda facilis.</div>
            </div>
        </div>
    </div>
    <%- include('../components/footer.ejs'); %>
    <%- include('../components/rootscript.ejs'); %>
</body>
</html>