<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
        <!-- <link rel="stylesheet" href="/style/sidebar.css">
        <link rel="stylesheet" href="/style/profilepage.css"> -->
        <link rel="stylesheet" href="/style/sidebar.css">
        <link rel="stylesheet" href="/style/profilepage.css">
        <link rel="stylesheet" href="/style/dashboardTest.css">
        <title>Document</title>
</head>

<body>
    <%- include('../components/header.ejs'); %>
        <!-- Offcanvas trigger -->



        <!-- Offcanvas -->


        <div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Dashboard</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <nav>
                    <div class="menu-items">
                        <ul class="nav-link"></ul>
                        <li>
                            <a href="" style="background-color: #13130D;">
                                <i class="fa-solid fa-user" style="color: #F7F6EC;"></i>
                                <span class="link-name" style="color: #F7F6EC;">Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa-solid fa-palette"></i>
                                <span class="link-name">Artwork</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-solid fa-bookmark"></i>
                                <span class="link-name">Bookmark</span>
                            </a>
                        </li>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Offcanvas -->

        <!-- Offcanvas trigger -->
        <div class="sidebar-toggler">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
                <!--Replace this with an icon-->
                <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
            </button>
        </div>
        <!-- Offcanvas trigger -->

        <main class="mt-3 pt-3 dashboard-main">

            <div class="container-fluid">
                <div class="hello-user">Hello, User</div>

                <div class="card mb-3">
                    <div class="row g-0 profile-display">
                        <div class="text col-md-4 gradient-custom text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="Avatar" class="img-fluid my-5">
                            <h5>John Doe</h5>
                            <a href="/edit-profile" class="btn btn-outline-primary">Edit</a>
                            <button type="button" class="btn btn-outline-danger">Logout</button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Username </h6>
                                        <p class="text-muted" id="username">John Doe</p>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted" id="email">john@example.com</p>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-start">
                                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3" aria-hidden="true"></i></a>
                                    <a href="#!"><i class="fab fa-twitter fa-lg me-3" aria-hidden="true"></i></a>
                                    <a href="#!"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <%- include('../components/rootscript.ejs'); %>
            <%- include('../components/footer.ejs'); %>
            <!-- <script>
                window.addEventListener('resize', adjustButtonMarginTop);

                // Call the function initially to set the margin-top when the page loads
                adjustButtonMarginTop();

                function adjustButtonMarginTop() {
                    // Get the header element
                    var header = document.querySelector('header');

                    // Get the button element
                    var button = document.querySelector('.sidebar-toggler');

                    // Get the height of the header
                    var headerHeight = header.offsetHeight;

                    // Set the margin-top of the button element to the height of the header
                    button.style.marginTop = (headerHeight + 10) + 'px';
                }
            </script> -->

</body>

</html>