<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
    <link rel="stylesheet" href="/style/sidebar.css">
    <link rel="stylesheet" href="/style/profilepage.css">
    <title>Document</title>
</head>

<body>
    <%- include('../components/header.ejs'); %>
    <main class="mt-10">

        <div class="container-fluid dashboard-section">

            <!-- Button to display the dashboard responsive -->
            <div class="dropdown dashboard-button">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dashboard
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Artwork</a></li>
                    <li><a class="dropdown-item" href="#">Bookmark</a></li>
                </ul>
            </div>

            <!-- SECTION TO DISPLAY THE DASHBOARD SECTION -->

            <div class="row row-eq-height h-100">

                <!-- SIDEBAR MENU -->
                <div class="dashboard-menu col-lg-4 col-md-4">
                    <nav>
                        <div class="menu-items">
                            <ul class="nav-link"></ul>
                            <li>
                                <a href="" style="background-color: #13130D;">
                                    <i class="fa-solid fa-user" style="color: #F7F6EC;"></i>
                                    <span class="link-name" style="color: #F7F6EC;">Profile</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <i class="fa-solid fa-palette"></i>
                                    <span class="link-name">Artwork</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-bookmark"></i>
                                    <span class="link-name">Bookmark</span>
                                </a>
                            </li>
                        </div>
                    </nav>
                </div>

                <!-- CONTENT SECTION -->
                <div class="col-lg-8 col-md-8">
                    <div class="container">
                        <h1>Edit Profile</h1>
                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                                    <h6>Upload a different photo...</h6>

                                    <input type="file" class="form-control">
                                </div>
                            </div>

                            <!-- edit form column -->
                            <div class="col-md-9">
                                <h3>Personal info</h3>
                                <form class="form-horizontal" role="form">
                                    
                                    <div class="form-group">
                                      <label class="col-md-3 control-label">Username:</label>
                                      <div class="col-md-8">
                                        <input class="form-control" type="text" value="janeuser">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-md-3 control-label">Password:</label>
                                      <div class="col-md-8">
                                        <input class="form-control" type="password" value="11111122333">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-md-3 control-label">Confirm password:</label>
                                      <div class="col-md-8">
                                        <input class="form-control" type="password" value="11111122333">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-md-3 control-label"></label>
                                      <div class="col-md-8">
                                        <input type="button" class="btn btn-primary" value="Save Changes">
                                        <span></span>
                                        <input type="reset" class="btn btn-default" value="Cancel">
                                      </div>
                                    </div>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../components/rootscript.ejs'); %>
    <%- include('../components/footer.ejs'); %>
    
    </body>
    
    </html>
