<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
        <link rel="stylesheet" href="/style/sidebar.css">
        <link rel="stylesheet" href="/style/profilepage.css">
        <title>Document</title>
</head>

<body>
    <%- include('../components/header.ejs'); %>
    <main>
        

        <div class="container-fluid dashboard-section">

            <!-- Button to display the dashboard responsive -->
        <div class="dropdown dashboard-button">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dashboard
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Artwork</a></li>
                <li><a class="dropdown-item" href="#">Bookmark</a></li>
            </ul>
        </div>

            <!-- SECTION TO DISPLAY THE DASHBOARD SECTION -->

            <div class="row row-eq-height h-100">

                <!-- SIDEBAR MENU -->
                <div class="dashboard-menu col-lg-4 col-md-4">
                    <nav>
                        <div class="menu-items">
                            <ul class="nav-link"></ul>
                            <li>
                                <a href="" style="background-color: #13130D;">
                                    <i class="fa-solid fa-user" style="color: #F7F6EC;"></i>
                                    <span class="link-name" style="color: #F7F6EC;">Profile</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <i class="fa-solid fa-palette"></i>
                                    <span class="link-name">Artwork</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-bookmark"></i>
                                    <span class="link-name">Bookmark</span>
                                </a>
                            </li>
                        </div>
                    </nav>
                </div>

                <!-- CONTENT SECTION -->
                <div class="col-lg-8 dashboard-content col-md-8">
                    <div class="hello-user" >Hello, User</div>

                    <div class="card mb-3">
                        <div class="row g-0 profile-display">
                            <div class="text col-md-4 gradient-custom text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                    alt="Avatar" class="img-fluid my-5">
                                <h5>John Doe</h5>
                                <a href="/edit-profile" class="btn btn-outline-primary">Edit</a>
                                <button type="button" class="btn btn-outline-danger">Logout</button>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Username </h6>
                                            <p class="text-muted" id="username">John Doe</p>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted" id="email">john@example.com</p>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-start">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3" aria-hidden="true"></i></a>
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-3" aria-hidden="true"></i></a>
                                        <a href="#!"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../components/rootscript.ejs'); %>
    <%- include('../components/footer.ejs'); %>
        
</body>

</html>