.row-layout {
    height: 31.25rem;
    font-family: var(--normal-text);
    font-weight: 300;
}

.forimg{
    padding: 0;
    height: 100%;
}

.sample-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-family: var(--title-text);
    font-weight: 700;
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.background-title {
    background-color: var(--white);
}

.core-value{
    font-size: 40px;
    font-family: var(--title-text);
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.core-value::after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    transform-origin: center;
    transition: transform 0.2s ease-out;
}

.row-layout:hover > * > * > .core-value::after {
    transform: scaleX(1);
    transform-origin: center;
    width: 100%;
}

div.text-center {
    font-size: 24px;
}

@media only screen and (max-width: 1024px) {
    .row-layout {
        height: 16rem;
    }

    .row-layout > .p-5.col-6 {
        padding: 24px !important;
    }

    .title {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    
    p.core-value {
        font-size: 24px;
    }

    div.text-center {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {  
    .row-layout > .p-5.col-6 {
        padding: 12px !important;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    
    p.core-value {
        font-size: 20px;
    }

    div.text-center {
        font-size: 12px;
    }
}

@media only screen and (max-width: 425px) {  
    .row-layout > .p-5.col-6 {
        padding: 6px !important;
    }
    
    .title {
        font-size: 2rem;
    }
    
    p.core-value {
        font-size: 16px;
    }

    div.text-center {
        font-size: 10px;
    }
} 