body {
  margin: 0;
  line-height: normal;
  background: black;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;

  /* Border radiuses */
  --br-xl: 20px;
}

.art_type {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}

.art_type::before {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -.5rem;
  left: 0;
  transition: transform .4s, opacity .4s;
  opacity: 0;
}

.art_type:hover::before {
  transform: translateY(-.25rem);
  opacity: 1;
}

.anchor-link {
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 41px 60px;
  gap: 50px;
}

.all-art {
  align-self: stretch;
  height: 1000px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-white);
  overflow: hidden;
  overflow-y: scroll;
}

.browsing {
  position: relative;
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 49px 111px;
  box-sizing: border-box;
  gap: 49px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.photo-gallery{
  display: flex;
  gap: 15px;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 15px;
} 

.photo img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

@media (max-width:768px){
  .photo-gallery{
    flex-direction: column;
  }
}


/*custom scroll bar*/
::-webkit-scrollbar{
  width:5px;
  border-radius: 20px;
}

::-webkit-scrollbar-track{
  background-color: #000;
}

::-webkit-scrollbar-thumb{
  background: white;
  border-radius: 20px;
  width:5px;
}

.sort{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.sort div{
  margin: 10px
}

.sort div label{
  cursor: pointer;
}

.sort div label input[type = "checkbox"]{
  display: none;
}

.sort div label span{
  position: relative;
  display: inline-block;
  background: #424242;
  padding: 15px 30px;
  color: #555;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  border-radius: 30px;
  font-size: 20px;
  transition: 0.5s;
  user-select: none;
  overflow: hidden;
}

.sort div label span:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, .1);
}

.sort div:nth-child(4n + 1) label input[type = "checkbox"]:checked ~ span{
  background: #fff;
  color: #000;
  box-shadow: 0 2px 20px #fff;
}





