.carousel-inner {
    height: 350px;
}

.carousel-item img {
    height: 350px;
    width: 100%;
    object-fit: contain;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
  }
  
  .carousel-control-prev-icon {
    /* change the color of the arrow */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
/* change the color of the area when hovered */
  .carousel-control-prev:hover {
    color: #ff0000 !important;
    background-color: #ff0000;
  }
  
.artwork-title h1 {
    margin: 5vw;
}

.artwork-specification table {
    width: 90%;
    margin: 5vw;
}

.artwork-specification table 
.column1 {
    width: 30%;
  }
  
  .artwork-specification table .column2 {
    width: 70%;
  }
  