*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden; /* Add this line to hide horizontal overflow */
    max-width: 100%;
}



h1 {
    font-size: 128px;
    font-family: var(--title-text);
    font-style: strong;
    text-align: center;
    margin-top: 0px;
}
.description {
    color: #FFF;
    font-size: 36px;
    font-family:  var(--normal-text);
    margin: 0 auto;
}

.museum-name-main.description {
    text-align: center;
}
.museum-name-right {
    text-align: right;
}
.museum-name.description {
    text-align: left;
}



h2 {
    color: #FFF;
    font-size: 64px;
    font-family: var(--title-text);
    font-style: strong;
    margin: 0 auto;
}











.first-content {
    height: 805px;
    text-align: center;
    background-image: url(../images/background/background1.jpg);
    background-size: fill;
    background-position: center;
    padding: auto;

}
.painting-content {
    height: 805px;
    text-align: left;
    background-image: url(../images/background/background2.jpg);
    background-size: fill;
    background-position: center;
    padding: auto;
    
    
}

.scupture-content {
    height: 805px;
    text-align: right;
    background-image: url(../images/background/background3.jpg);
    background-size: fill;
    background-position: center;
    padding: auto;
    
    
}

.fresco-content {
    height: 805px;
    text-align: left;
    background-image: url(../images/background/background4.jpg);
    background-size: fill;
    background-position: center;
    padding: auto;
    
}

.museum-name-main {
    font-size: 128px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: strong;
    color: Black;
    margin-top: 0px;
    padding: 80px;
    display: auto;
}


.museum-name-right {
    font-size: 128px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: strong;
    color: Black;
    margin-top: 0px;
    padding: 80px;
    display: auto;
}


.museum-name-right h2 {
    margin-right: 150px;
}
.museum-name-right p {
    margin: 0 0 0 auto;
}

.museum-name {
    font-size: 128px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: strong;
    color: Black;
    margin-top: 0px;
    padding: 80px;
    display: auto;
}

.museum-name h2 {
    margin-left: 150px;
    
}

.museum-name p {
    margin: 0 0 auto 0;
}






.art {
    margin-top: 200px;
}

.button-arrow-container {
    display: flex;
    align-items: center; /* Align vertically */
}



.first-content .explore-button {
    margin-top: 210px;
}

.scupture-content  .explore-button {
    margin-right: 290px;
    margin-top: 120px;
}
.fresco-content .explore-button, .painting-content .explore-button {
    margin-left: 240px;
    margin-top: 120px;
}


.explore-button {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    transition: 0.5s;
    transition-delay: 0.8s;
}
.explore-button:hover {
    color: white;
    letter-spacing: 0.25em;
    text-shadow: 0 0 5px white;
}

.explore-button span {
    position: absolute;
    display: block;
    background: white;
    box-shadow: 0 0 5px white;
}
.explore-button span:nth-child(1) {
    left: 0;
    top: 0;
    width: 50.5%;
    height: 1.5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.explore-button:hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

.explore-button span:nth-child(2) {
    right: 0;
    top: 0;
    width: 50.5%;
    height: 1.5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.explore-button:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

.explore-button span:nth-child(3) {
    right: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.5s;
    transition-delay: 0.4s;
}

.explore-button:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

.explore-button span:nth-child(4) {
    left: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.5s;
    transition-delay: 0.4s;
}

.explore-button:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

.explore-button span:nth-child(5) {
    left: 0;
    bottom: 0;
    width: 50.5%;
    height: 1.5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
    transition-delay: 0.8s;
}

.explore-button:hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}
.explore-button span:nth-child(6) {
    right: 0;
    bottom: 0;
    width: 50.5%;
    height: 1.5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
    transition-delay: 0.8s;
}

.explore-button:hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
}




.Art-message {
    background-color: white;
    text-align: center;
    padding: 50px 0 50px 0;
    color: black;
}

.Art-message h2 {
   color: black;
   font-family: var(--title-text);
}
.art-para {
    font-family: var(--normal-text);
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    font-style: italic;
}

.art-mess-button {
    background-color: rgba(0, 0, 0, 0.25); /* Black with 25% transparency */
    border: none;
    color: white; /* Text color */
    border-radius: 50px;
    padding: 15px 32px; /* Vertical and horizontal padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Removes underline */
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer; /* Changes the cursor when you hover over the button */
    font-family: var(--normal-text);
}

.art-mess-button:hover {
    background-color: black
}



.container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }


@media only screen and (max-width: 1200px) {
    .museum-name-main h1{
        font-size: 120px;
    }

.description {
    text-align: center;
}
    h2 {
        text-align: center;
    }
    .museum-name-right h2 {
        margin-right: 0;
    }
    .museum-name h2 {
        margin-left: 0;
        
    }

.first-content .explore-button {
    margin-top: 100px;
}

    .scupture-content  .explore-button {
        margin-right: 0;
    }
    .fresco-content .explore-button, .painting-content .explore-button {
        margin-left: 0;
    }
    .fresco-content, .painting-content {
        text-align: center;
    }
    .scupture-content {
        text-align: center;
    }
 
}

@media only screen and (max-width: 800px) {
    .museum-name-main h1{
        font-size: 100px;
    }
    .description {
        font-size: 40px;
        text-align: center;
    }

h2 {
    text-align: center;
}
.museum-name-right h2 {
    margin-right: 0;
}
.museum-name h2 {
    margin-left: 0;
}
.first-content .explore-button {
    margin-top: 50px;
}
.scupture-content  .explore-button {
    margin-right: 0;
}
.fresco-content .explore-button, .painting-content .explore-button {
    margin-left: 0;
}
.fresco-content, .painting-content {
    text-align: center;
}
.scupture-content {
    text-align: center;
}

}

@media only screen and (max-width: 576px) {
    .museum-name-main h1{
        font-size: 80px;
    }
    .description {
        font-size: 30px;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .museum-name-right h2 {
        margin-right: 0;
    }
    .museum-name h2 {
        margin-left: 0;
        
    }
    .scupture-content  .explore-button {
        margin-right: 0;
    }
    .fresco-content .explore-button, .painting-content .explore-button {
        margin-left: 0;
    }
    .fresco-content, .painting-content {
        text-align: center;
    }
    .scupture-content {
        text-align: center;
    }
}  
  