.vh-100 {
    background-color: var(--bewhite);
}

.card  {
    border-radius: .5rem;
}

.text {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
img {
    width: 80px;
}

.profile-display {
    background-color: var(--bewhite);
}

.hello-user {
    font-size: 6.5vw;
}
  
.dashboard-content > .card {
    box-shadow: 5px 5px 10px grey;
}

.dashboard-main {
    margin-top: 5rem;
}