<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
    <link rel="stylesheet" href="/style/sidebar.css">
    <title>Document</title>
</head>
 </head>
 <body>
        <nav>
            <div class="menu-items">
                <ul class="nav-link"></ul>
                <li class><a href="">
                    <i class="fa-solid fa-user"></i>
                    <Span class="link-name">Profile</Span>
                </a></li>
                <li><a href="">
                    <i class="fa-solid fa-palette"></i>                    
                    <Span class="link-name">Artwork</Span>
                </a></li>
                <li><a href="">
                    <i class="fa-solid fa-bookmark"></i>
                    <Span class="link-name">Bookmark</Span>
                </a></li>
            </div>




            
        </nav>



        <%- include('../components/rootscript.ejs'); %>
 </body>
 </html>   
