    <footer class="footer">
        <div class="container">
         <div class="row">
           <div class="footer-col">
             <h4>Museum</h4>
             <ul>
               <li><a href="#">123 Fake St, District 7, HCM city, Vietnam</a></li>
               <li><a href="#">+84 12 3456 789</a></li>
               <li><a href="#">museumfakeemail@gmail.com</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Explore</h4>
             <ul>
               <li><a href="#">Artwork</a></li>
               <li><a href="/about">About Us</a></li>
               <li><a href="#">Contact</a></li>
             </ul>
           </div>
           
           <div class="footer-col">
             <h4>follow us</h4>
             <div class="social-links">
               <a href="#"><i class="fab fa-facebook-f"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-linkedin-in"></i></a>
             </div>
           </div>
         </div>
        </div>
        <div class="footer-line"></div>

        <div class="footer-img">
            <img src="/images/logo/Logo.jpg" alt="">
        </div>
     </footer>
