<footer>
    <div class="footer-section">
        <div>
            <div class="museum-intro" id="museum-intro">
                <img src="/images/logo/370616153_1814054119045837_6107914984580056331_n.png" alt="museum logo">
                <div class="museum-name">MUSEUM</div>
            </div>
            <div class="museum-info" id="museum-info">
                <div class="infos">
                    <i class="fa-solid fa-headset"></i>
                    <div class="main-item">Information</div>
                </div>
                <div class="infos-list">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    <div class="info-item">123 Fake St, District 7, HCM city, Vietnam</div>
                </div>
                <div class="infos-list">
                    <span class="material-symbols-outlined">
                        phone_in_talk
                    </span>
                    <div class="info-item">+84 12 3456 789</div>
                </div>
                <div class="infos-list">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <div class="info-item">museumfakeemail@gmail.com</div>
                </div>
            </div>
        </div>
        
        <div class="explore-container">
            <div class="museum-explore">
                <span class="material-symbols-outlined explore">
                    explore
                </span>
                <p class="explore-main">Explore</p>
            </div>
            <div class="explore-list">
                <p class="explore-item">Artworks</p>
                <p class="explore-item">About Us</p>
                <p class="explore-item">Contact</p>
            </div>
        </div>

        <div>
            <div class="museum-social" id="museum-social">
                <div class="social-main-container">
                    <span class="material-symbols-outlined social">
                        language
                    </span>
                    <p class="social-main">Social</p>
                </div>
                <div class="social-items-container">
                    <div>
                        <i class="fa-brands fa-facebook"></i>
                        <p class="social-item">Facebook</p>
                    </div>
                    <div>
                        <i class="fa-brands fa-instagram"></i>
                        <p class="social-item">Instagram</p>
                    </div>
                    <div>
                        <i class="fa-brands fa-twitter"></i>
                        <p class="social-item">Twitter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>