<header class="d-flex align-items-center">
    <div class="logo-container">
        <img class="Homepage-logo" src="/images/logo/Logo.png" alt="Logo">
    </div>
    <div class="Header-list">
        <ul class="navigation">
            <li><a href="#">Home</a></li>
            <li><a href="#">Artworks</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <div class="button-container">
                    <a href="#" class="button-login">Login</a>
                    <a href="#" class="button-register">Register</a>
                </div>
            </li>
            <!-- <li><i class="staticSearchBtn fa-solid fa-magnifying-glass"></i></li> -->
            <li>
                <div class="search">
                    <i class="closebtn fa-solid fa-x"></i>
                    <i class="searchbtn fa-solid fa-magnifying-glass"></i>
                    <input class="searchInput" type="text" placeholder="Search...">
                    <div class="searchBox"></div>
                </div>
            </li>
        </ul>
        <i class="menutoggle fa-solid fa-bars"></i>
    </div>
</header>