<header class="d-flex align-items-center">
    <div class="logo-container">
        <img class="Homepage-logo" src="/images/logo/Logo.jpg" alt="Logo">
    </div>
    <div class="Header-list">
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="#">Artworks</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <div class="button-container">
                    <a href="/login" class="button-login">Login</a>
                    <a href="/register" class="button-register">Register</a>
                </div>
            </li>
            <li><i class="staticSearchBtn fa-solid fa-magnifying-glass"></i></li>
        </ul>
        <div class="search">
            <i class="searchbtn fa-solid fa-magnifying-glass"></i>
            <input class="searchInput" type="text" placeholder="Search...">
            <i class="closebtn fa-solid fa-x"></i>
        </div>
    </div>
    <i class="menutoggle fa-solid fa-bars"></i>
    <!-- <div class="menu-bg"> -->
        <div class="menu-container">
            <div class="search-menu">
                <i class="openmenubtn fa-solid fa-magnifying-glass"></i>
                <input class="searchMenuInput" type="text" placeholder="Search...">
                <i class="closemenubtn fa-solid fa-x"></i>
            </div>
            <a href="/">Home</a>
            <a href="#">Artworks</a>
            <a href="/about">About Us</a>
            <a href="#">Contact</a>
            <div class="button-container">
                <a href="/login" class="button-login">Login</a>
                <a href="/register" class="button-register">Register</a>
            </div>
        </div>
    <!-- </div> -->
</header>