<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% allAW.forEach(function(AW) { %>
        <div class="an-artwork">
            <div class="artworkname">
                <%= AW.artworkName %>
            </div>
            <div class="artworkCategories">
                <%= AW.categories %>
            </div>
            <a href="/save/<%= AW._id %>" >Save</a>
        </div>
    <% }) %>
</body>
</html>