<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs') -%>
    <link rel="stylesheet" href="/style/dashboardTest.css">
    <title>Document</title>
</head>
<body>
    <%- include('./hero.ejs'); %>
    <div class="main-container">
        <div class="filter-container">
            <div class="filter-heading d-flex align-items-center">
                <p class="title">Uploads</p>
                <i class="fa-solid fa-caret-down caretdown"></i>
            </div>
            <div class="categories">
                <div class="cat1">Fresco</div>
                <div class="cat2">Painting</div>
                <div class="cat3">Sculpture</div>
            </div>
            <div class="categor">
                <p class="fs-1">Others</p>
            </div>
        </div>
        <div class="gallery-container">
            <div class="card-pin">
                <img src="images/artwork/vincent-van-goghs-starry-night-symbolism-and-iconography-part-1.jpg" alt="vincent vangoth starry night">
                <div class="card-content">
                    <div class="content-heading">
                        <div class="content-title">
                            <p>Cooool Title</p>
                        </div>
                        <div class="content-button">
                            <button class="approve">Aprrove</button>
                            <button class="delince">Decline</button>
                        </div>
                    </div>
                    <a class="content-info" href="#">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="card-pin">
                <img src="images/artwork/licensed-image.jpg" alt="vincent vangoth starry night">
                <div class="card-content">
                    <div class="content-heading">
                        <div class="content-title">
                            <p>Cooool Title</p>
                        </div>
                        <div class="content-button">
                            <button class="approve">Aprrove</button>
                            <button class="delince">Decline</button>
                        </div>
                    </div>
                    <a class="content-info" href="#">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="card-pin">
                <img src="images/artwork/vincent-van-goghs-starry-night-symbolism-and-iconography-part-1.jpg" alt="vincent vangoth starry night">
                <div class="card-content">
                    <div class="content-heading">
                        <div class="content-title">
                            <p>Cooool Title</p>
                        </div>
                        <div class="content-button">
                            <button class="approve">Aprrove</button>
                            <button class="delince">Decline</button>
                        </div>
                    </div>
                    <a class="content-info" href="#">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="card-pin">
                <img src="images/artwork/vincent-van-goghs-starry-night-symbolism-and-iconography-part-1.jpg" alt="vincent vangoth starry night">
                <div class="card-content">
                    <div class="content-heading">
                        <div class="content-title">
                            <p>Cooool Title</p>
                        </div>
                        <div class="content-button">
                            <button class="approve">Aprrove</button>
                            <button class="decline">Decline</button>
                        </div>
                    </div>
                    <a class="content-info" href="#">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="card-pin">
                <img src="images/artwork/licensed-image.jpg" alt="vincent vangoth starry night">
                <div class="card-content">
                    <div class="content-heading">
                        <div class="content-title">
                            <p>Cooool Title</p>
                        </div>
                        <div class="content-button">
                            <button class="approve">Aprrove</button>
                            <button class="delince">Decline</button>
                        </div>
                    </div>
                    <a class="content-info" href="#">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
            </div><div class="card-pin">
                <img src="images/artwork/licensed-image.jpg" alt="vincent vangoth starry night">
                <div class="card-content">
                    <div class="content-heading">
                        <div class="content-title">
                            <p>Cooool Title</p>
                        </div>
                        <div class="content-button">
                            <button class="approve">Aprrove</button>
                            <button class="delince">Decline</button>
                        </div>
                    </div>
                    <a class="content-info" href="#">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
            </div>
            <div class="card-pin">
                <img src="images/artwork/licensed-image.jpg" alt="vincent vangoth starry night">
                <div class="card-content">
                    <div class="content-heading">
                        <div class="content-title">
                            <p>Cooool Title</p>
                        </div>
                        <div class="content-button">
                            <button class="approve">Aprrove</button>
                            <button class="delince">Decline</button>
                        </div>
                    </div>
                    <a class="content-info" href="#">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <%- include('../components/footer.ejs') -%>
    <%- include('../components/rootscript.ejs') -%>
    <script src="/script/dashboard/dropdown.js" crossorigin="anonymous"></script>
</body>
</html>