<div class="hero-container">
    <div class="nn-hero-image-container">
        <img src="/images/background/All_Artwork_hero.jpg" alt="Image">
        <div class="nn_txt">
            <h1>My Artwork</h1>
        </div>
    </div>
</div>
