<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/homepage.css">
    <title>Document</title>
</head>
<body>
    <%- include('../components/header.ejs'); %>
    <main>
        <div class="first-content">
            <div class="museum-name">
                <h1>Museum Name</h1> 
                    <p>Brief Descript about Museum mission</p>
            </div>
            <div>   
                <button class="explore-button">Explore more</button>
                <br>  
                <img src="/images/icon/down-arrow.png" class="arrow arrow-icon move" alt="arrow">
            </div>    
        </div>   
        <div class="painting-content">           
            <div class="museum-name">
                <h2>Painting</h2> 
                <p>Brief Descript about Museum mission</p>
            </div>
            <button class="explore-button button-arrow-container left ">Explore more
                    <img src="/images/icon/right-arrow.png" class="arrow right-bounce arrow-icon" alt="arrow">
            </button>                     
        </div> 
        <div class="scupture-content">
            <div class="museum-content">
                <div class="museum-name">
                    <h2>Scupture</h2> 
                    <p>Brief Descript about Museum mission</p>
                </div>
                <button class="explore-button button-arrow-container right">
                    <img src="/images/icon/left-arrow.png" class="arrow left-bounce arrow-icon" alt="arrow">
                    Explore more
                </button>                      
            </div>
        </div>
        <div class="fresco-content">
            <div class="museum-content">
                <div class="museum-name">
                    <h2>Fresco</h2> 
                    <p>Brief Descript about Museum mission</p>
                </div>
                <button class="explore-button button-arrow-container left ">Explore more
                    <img src="/images/icon/right-arrow.png" class="arrow right-bounce arrow-icon" alt="arrow">
                </button>       
            </div>
        </div> 
    </main>
    <%- include('../components/footer.ejs'); %>
</body>
</html>
