<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/homepage.css">
    <title>Museum Name</title>
</head>
<body>
    <header>
        <div>
            <img class="Homepage-logo" src="/public/images/logo/Logo.png" alt="Logo">
        </div>
        <div class="Header-list">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Artworks</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                
            </ul>
        </div>
        <div class="button-container">
            <button class="button1">Login</button>
            <button class="button2">Register</button>
        </div>

        <div>
            <form id="form"> 
                <input type="search" id="search" name="q" placeholder="Search...">
                <img src="/public/images/icon/search.png class="search-icon" alt="search">
              </form>
        </div>
    </header>
    <main>
        <div class="first-content">
            <div class="museum-content">
                <div class="museum-name">
                    <h1>Museum Name</h1> 
                    <p>Brief Descript about Museum mission</p>
                </div>
                <div class="button-container2">
                    <button class="explore-button">Explore more</button>
                </div>   
                <div class="arrow move">  
                    <img src="/public/images/icon/down-arrow.png" class="arrow-icon" alt="arrow">
                </div>     
            </div>
        </div>   
        <div class="painting-content">
            <div class="museum-content">
                <div class="museum-name">
                    <h1>Museum Name</h1> 
                    <p>Brief Descript about Museum mission</p>
                </div>
                <div class="button-container2">
                    <button class="explore-button">Explore more</button>
                </div>   
                <div class="arrow move">  
                    <img src="/public/images/icon/down-arrow.png" class="arrow-icon" alt="arrow">
                </div>     
            </div>
        </div> 
        <div class="scupture-content">
            <div class="museum-content">
                <div class="museum-name">
                    <h1>Museum Name</h1> 
                    <p>Brief Descript about Museum mission</p>
                </div>
                <div class="button-container2">
                    <button class="explore-button">Explore more</button>
                </div>   
                <div class="arrow move">  
                    <img src="/public/images/icon/down-arrow.png" class="arrow-icon" alt="arrow">
                </div>     
            </div>
        </div>
        <div class="fresco-content">
            <div class="museum-content">
                <div class="museum-name">
                    <h1>Museum Name</h1> 
                    <p>Brief Descript about Museum mission</p>
                </div>
                <div class="button-container2">
                    <button class="explore-button">Explore more</button>
                </div>   
                <div class="arrow move">  
                    <img src="/public/images/icon/down-arrow.png" class="arrow-icon" alt="arrow">
                </div>     
            </div>
        </div> 
           
        
    </main>
    <footer>
        <nav>
            <div>
                <div class="museum-intro" id="museum-intro">
                    <img src="/public/images/logo/370616153_1814054119045837_6107914984580056331_n.png" alt="museum logo">
                    <p>Museum</p>
                </div>
                <div class="museum-info" id="museum-info">
                    <div>
                        <img src="/public/images/icon/headphone.png" alt="headphone icon" class="main-logo">
                        <p class="main-item">Information</p>
                    </div>
                    <div>
                        <img src="/public/images/icon/location.png" alt="location icon" class="info-logo">
                        <p class="info-item">123 Fake St, District 7, HCM city, Vietnam</p>
                    </div>
                    <div>
                        <img src="/public/images/icon/phone-call.png" alt="phone call icon" class="info-logo">
                        <p class="info-item">+84 12 3456 789</p>
                    </div>
                    <div>
                        <img src="/public/images/icon/mail.png" alt="mail icon" class="info-logo">
                        <p class="info-item">museumfakeemail@gmail.com</p>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="museum-explore" id="museum-explore">
                    <img src="/public/images/icon/compass.png" alt="compass logo" class="main-logo">
                    <p class="main-item">Explore</p>
                </div>
                <p class="explore-item">Artworks</p>
                <p class="explore-item">About Us</p>
                <p class="explore-item">Contact</p>
            </div>

            <div>
                <div class="museum-social" id="museum-social">
                    <div class="social-main-container">
                        <img src="/public/images/icon/globe.png" alt="globe icon" class="main-logo">
                        <p class="main-item">Social</p>
                    </div>
                    <div class="social-items-container">
                        <div>
                            <img src="/public/images/icon/facebook.png" alt="facebook icon" class="social-logo">
                            <p class="social-item">Facebook</p>
                        </div>
                        <div>
                            <img src="/public/images/icon/instagram.png" alt="instagram icon" class="social-logo">
                            <p class="social-item">Instagram</p>
                        </div>
                        <div>
                            <img src="/public/images/icon/twitter.png" alt="twitter icon" class="social-logo">
                            <p class="social-item">Twitter</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </nav>
    </footer>
</body>
</html>
