<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/homepage.css">
    <link rel="stylesheet" href="/style/root.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e09ff39432.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../components/header.ejs'); %>
    <main>
        <div class="first-content">
            <div class="museum-name-main">
                <h1>Museum Name </h1> 
                <p class="description" >Brief Descript about Museum mission</p>
            </div>

            <a class="explore-button" href="#">Explore
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>

        </div>   
        <div class="painting-content">           
            <div class="museum-name">
                <h2 >Painting</h2> 
                <p class="description"  >Brief Descript about Museum mission</p>
            </div>
            <a class="explore-button" href="#">Explore
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>                
        </div> 
        <div class="scupture-content">
            <div class="museum-name-right">
                <h2 >Scupture</h2> 
                <p class="description" >Brief Descript about Museum mission</p>
            </div>
            <a class="explore-button" href="#">Explore
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>                 
        </div>
        <div class="fresco-content">
            <div class="museum-name">
                <h2 >Fresco</h2> 
                <p class="description" >Brief Descript about Museum mission</p>
            </div>
            <a class="explore-button" href="#">Explore
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div> 
        <div class="Art-message">
            <div>
                <h2>Art message </h2>
                <p class="art-para">lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumv</p>
            </div>
            <div>
                <button class="art-mess-button">Browse all artworks</button>
                <button class="art-mess-button">Join our community
                </button>
            </div>
        </div>
        <%- include('../components/footer.ejs'); %>

    </main>
  
    <script>
        let searchbtn = document.querySelector('.searchbtn');
        let closebtn = document.querySelector('.closebtn');
        let searchBox = document.querySelector('.searchBox'); // Fix the selector
        let navigation = document.querySelector('.navigation');
        let menutoggle = document.querySelector('.menutoggle');
        let header = document.querySelector('header');



        searchbtn.onclick = function(){
            searchBox.classList.add('active');
            closebtn.classList.add('active');
            searchbtn.classList.add('active');
            menutoggle.classList.add('hide')
            header.classList.remove('open')
        }

        closebtn.onclick = function(){
            searchBox.classList.remove('active'); // Fix the method name
            closebtn.classList.remove('active'); 
            searchbtn.classList.remove('active');
            menutoggle.classList.remove('hide')

        }
        menutoggle.onclick = function(){
            header.classList.toggle('open');
            searchBox.classList.remove('active'); // Fix the method name
            closebtn.classList.remove('active'); 
            searchbtn.classList.remove('active');
        }
        
    </script>
</body>
</html>
