<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <%- include('../components/rootstyle.ejs'); %>
    <link rel="stylesheet" href="/style/upload.css">
    <link rel="icon" type="image/x-icon" href="/images/logo/Favicon.png">
</head>
<body>
  <%- include('../components/header.ejs'); %>
  <main>
    <h1>PUBLISH YOUR ARTWORKS</h1>
    <div class="form-container">
      <form class="form" id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-item">
          <label for="artworkName">
            Name
          </label>
          <input type="text" id="artworkName" name="artworkName" placeholder=" Name your artwork" required>
        </div>
        <div class="form-item">
          <label for="artworkArtist">
            Artist
          </label>
          <input type="text" id="artworkArtist" name="artworkAuthor" placeholder=" Author name" required>
        </div>
        <div class="form-item">
          <label for="category">
            Choose your artwork's category
          </label>
          <select id="category" name="category" class="category_option">
            <option value="painting">Painting</option>
            <option value="scuplture">Scuplture</option>
            <option value="fresco">Fresco</option>
          </select>
        </div>
        <div class="form-item">
          <label for="artworkDescription">
            Artwork description
          </label>
          <textarea name="artworkDescription" id="artworkDescription" cols="60" rows="10" placeholder=" Description..." required></textarea>
        </div>
        <div class="form-item">
          <label for="upload-input">
            Choose a file
          </label>
          <input type="file" id="upload-input" name="image" accept="image/*" required>
        </div>
        <button type="submit" id="upload-button" class="pl_btn">PUBLISH</button>
      </form>
    </div>      
  </main>          
  <%- include('../components/rootscript.ejs'); %>
  <%- include('../components/footer.ejs'); %>
</body>
</html>
