<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

 
    <link rel="stylesheet" href="/style/br-artwork.css" />
  </head>
  <body>
    
    
    <div class="container">
      <div class="anchor-link">
       
        <a class="fancy" id ="painting" href="#">
          <span class="top-key"></span>
          <span class="text">Painting</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>

        <a class="fancy" id ="sculptrure" href="#">
          <span class="top-key"></span>
          <span class="text">Sculptrure</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>

        <a class="fancy" id ="fresco" href="#">
          <span class="top-key"></span>
          <span class="text">Fresco</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>

      </div>
      <div class="sort" >
          <div>
          <label>
            <input type="checkbox" name="" id="">
            <span>Test1</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Test4</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Test3</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Test2</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Test5</span>
          </label>
        </div> 
      </div>
      <div class="all-art" ></div>
    </div>

   
  </body>
</html>
