<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
    <link rel="stylesheet" href="/style/br-artwork.css" />
    <title>Browsing Artworks</title>
</head>
  <body>
    <%- include('../components/header.ejs'); %>
    <main>
    <div class="container">
      <div class="anchor-link">
       
        <a class="fancy" id ="painting" href="#">
          <span class="top-key"></span>
          <span class="text">Painting</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>

        <a class="fancy" id ="sculptrure" href="#">
          <span class="top-key"></span>
          <span class="text">Sculptrure</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>

        <a class="fancy" id ="fresco" href="#">
          <span class="top-key"></span>
          <span class="text">Fresco</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>

      </div>
      <div class="sort" >
          <h1 class="sort-title">Sort: </h1>
          <div>
          <label>
            <input type="checkbox" name="" id="">
            <span>Portrait paintings</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Greek</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Landscape painting</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Egypt</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Mythological</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>East Asia</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Fresco 1</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Fresco 2</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>Fresco 3</span>
          </label>
          
        </div> 
      </div>
      <div class="all-art" >
        <div class="photo-gallery">
          <div class="column">
              <div class="photo"><img src="https://fydn.imgix.net/m/x1000/1269846e-fb2b-4cb2-8544-e1480be6c178.jpg?q=75&auto=format,compress&dpr=1" alt=""></div>
              <div class="photo"><img src="https://dza2a2ql7zktf.cloudfront.net/binaries-cdn/dqzqcuqf9/image/fetch/ar_16:10,q_auto:best,dpr_3.0,c_fill,f_auto,w_380/https://d2u3kfwd92fzu7.cloudfront.net/asset/cms/Art_Basel_Miami_Beach_2023_Accesibility-1.jpg" alt=""></div>
              <div class="photo"><img src="https://thecanvasartfactory.com.au/cdn/shop/collections/modern-artworkthe-canvas-art-factory.jpg?v=1695954418" alt=""></div>
              <div class="photo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Vincent_Willem_van_Gogh_127.jpg/1024px-Vincent_Willem_van_Gogh_127.jpg" alt=""></div>
          </div>
          <div class="column">
              <div class="photo"><img src="https://cdn.thecollector.com/wp-content/uploads/2020/10/michelangelos-sculpture-pieta-visionary-art-e1603458695952.jpg?width=1400&quality=55" alt=""></div>
              <div class="photo"><img src="https://sculpture.ravinia.org/images/vert/29SilentMusicA.jpg" alt=""></div>
              <div class="photo"><img src="https://cdn.britannica.com/30/132930-050-6DB2450A/granite-sculpture-Vishnu-dynasty-Thanjavur-Pallava-India.jpg" alt=""></div>
          </div>
          <div class="column">
              <div class="photo"><img src="https://i0.wp.com/inspiringcity.com/wp-content/uploads/2018/08/IMG_20180817_162224.jpg?resize=1140%2C855&ssl=1" alt=""></div>
              <div class="photo"><img src="https://cdn.i-scmp.com/sites/default/files/styles/og_image_young_post/public/d8/yp/images/graffiti.jpg?itok=DC5P5hJy" alt=""></div>
              <div class="photo"><img src="https://previews.123rf.com/images/macrovector/macrovector1408/macrovector140800011/30350198-graffiti-spray-paint-expressive-street-crazy-dance-show-words-design-seamless-colorful-pattern.jpg" alt=""></div>
              <div class="photo"><img src="https://artstreet.in/cdn/shop/products/815VtyFjTkL._SL1500_903x700.jpg?v=1587636504" alt=""></div>
          </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </main>
    <%- include('../components/rootscript.ejs'); %>
  
  </body>
</html>
